.all-places{
    padding: 30px 20px;
    padding-bottom: 0;
}
.ucsd-place{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.drop-icon{
    position: relative;
    top: 5px;
    margin-left: 10px;
}