/* #RPpageBackground {
  padding-top: 50px;
} */

/* Title */
#RPtitle {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 647;
  font-size: 50px;
}

/* Input Fields */
.RPInputBackground {
  text-align: center;
  width: 40%;
  align-content: center;
  margin: auto;
  border: none;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(98, 2, 238, 1);
}

#RPuserInputBackground {
  margin-top: -5px;
}

#RPemailInput {
  border: none;
  width: 100%;
  height: 30px;
  background-color: white;
  outline: none;
  font-size: 18px;
}

#RPpasswordInput {
  -webkit-text-security: disc;
  border: none;
  width: 100%;
  height: 30px;
  background-color: white;
  outline: none;
  font-size: 18px;
}

#RPuserInput {
  border: none;
  width: 100%;
  height: 30px;
  background-color: white;
  outline: none;
  font-size: 18px;
}

.RPInputBackground {
  margin-top: 50px;
}

/* Buttons */
.RPBtnBackground {
  text-align: center;
  width: 500px;
  align-content: center;
  margin: auto;
}

.RPRegisterPageButtons {
  width: 70%;
  height: 50px;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 50px; */
  border-radius: 1%;
  border: none;
  outline: none;
  transition: 0.15s;
}

.RPRegisterPageButtons:hover {
  background-color: gray;
  color: white;
}

#RPcreateAccountBtnBackground {
  margin-top: 30px;
}

/* Input Labels */
.RPInputLabel {
  text-align: left;
  color: rgba(98, 2, 238, 1);
  font-weight: 600;
}

/* Already Have Account */
#RPhaveAccountBackground {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  text-align: left;
  width: 520px;
  align-content: center;
  margin: auto;
  border: none;
  height: 30px;
}

#RPsignIn:hover {
  color: gray;
  cursor: default;
}

#RPhaveAccountLabel {
  margin-top: 15px;
}

#RPsignInLink:visited {
  color: black;
}
